<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!-- 错误日志附加介质-->
  <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="ERROR" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <!--日志路径-->
    <file value= "Logs\\LogError\\" />
    <!--是否是向文件中追加日志-->
    <appendToFile value= "true" />
    <!--log保留天数-->
    <maxSizeRollBackups value= "100" />
    <!--最大容量-->
    <maximumFileSize value="10000KB" />
    <!--日志文件名是否是固定不变的-->
    <staticLogFileName value= "false" />
    <!--日志文件名格式为:2008-08-31.log-->
    <datePattern value= "&quot;Error&quot;yyyy-MM-dd&quot;.log&quot;" />
    <!--日志根据日期滚动-->
    <rollingStyle value= "Date" />
    <!--布局-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%-5.5thread] %-40.40logger - %m%n" />
    </layout>
  </appender>
  <!-- 信息日志附加介质-->
  <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="INFO" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <!--日志路径-->
    <file value= "Logs\\LogInfo\\" />
    <!--是否是向文件中追加日志-->
    <appendToFile value= "true" />
    <!--log保留天数-->
    <maxSizeRollBackups value= "100" />
    <!--最大容量-->
    <maximumFileSize value="10000KB" />
    <!--日志文件名是否是固定不变的-->
    <staticLogFileName value= "false" />
    <!--日志文件名格式为:2008-08-31.log-->
    <datePattern value= "&quot;Info&quot;yyyy-MM-dd&quot;.log&quot;" />
    <!--日志根据日期滚动-->
    <rollingStyle value= "Date" />
    <!--布局-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%-5.5thread] %-40.40logger - %m%n" />
    </layout>
  </appender>
  <!-- 调试日志附加介质-->
  <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="DEBUG" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <!--日志路径-->
    <file value= "Logs\\LogDebug\\" />
    <!--是否是向文件中追加日志-->
    <appendToFile value= "true" />
    <!--log保留天数-->
    <maxSizeRollBackups value= "100" />
    <!--最大容量-->
    <maximumFileSize value="10000KB" />
    <!--日志文件名是否是固定不变的-->
    <staticLogFileName value= "false" />
    <!--日志文件名格式为:2008-08-31.log-->
    <datePattern value= "&quot;Debug&quot;yyyy-MM-dd&quot;.log&quot;" />
    <!--日志根据日期滚动-->
    <rollingStyle value= "Date" />
    <!--布局-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%-5.5thread] %-40.40logger - %m%n" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="ErrorAppender" />
    <appender-ref ref="InfoAppender" />
    <appender-ref ref="DebugAppender" />
  </root>
</log4net>